<div class="row">
	<h3>Contact Info </h3>
  <div class="span8">
	  <p>
		  <strong>Name:</strong>
		  <%= @contact.first_name + " " + @contact.last_name  %> <br>
		  <strong>Assigned to:</strong>
		  <%= @contact.user.name %>
	  </p>
	  <p>
		  <strong>Address:</strong>
		  <%= @contact.street %>  <br>
		  <strong>Apt:</strong>
		  <%= @contact.street_2 %>
	  </p>	  
	  <p>
	    <strong>City:</strong>
	    <%= @contact.city %>

	    <strong>State:</strong>
	    <%= @contact.state %>
		
	    <strong>Zip:</strong>
	    <%= @contact.zip %>
	  </p>
	  <p>
		  <strong>Phone:</strong>
		  <%= @contact.phone %> <br>
		  <strong>VP:</strong>
		  <%= @contact.phone_2 %> <br>
		  <strong>Email:</strong>
		  <%= @contact.email %> 
	  </p>
	  <p>
	  <strong>Confirmed Contact:</strong> 
	  <%= @contact.confirmed %> <br> 
	  <strong>Moved:</strong> 
	  <%= @contact.moved %> <br>
	  <strong>Do Not Call:</strong> 
	  <%= @contact.do_not_call %> <br>
	  <strong>Notes:</strong>
	  <%= @contact.note %> <br>
	  <p>
</div>
</div>

<%= link_to 'Edit', edit_contact_path(@contact) %> 